h1{display: block; text-align: center;font-size: 100px; color: aliceblue; font-style: italic; font-weight: bold; background-color: rgb(40, 93, 192);}
p{display:block;font-size: medium;line-height: 150%;}
aaaa{background-color: rgb(247, 247, 247);}
p1{display: block;background-color: rgb(80, 183, 227);font-size: 25px;font-weight: bold;line-height: 150%;color: aliceblue;}